################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/.vs/Game/v16
/Game/Game/bin/Debug/netcoreapp2.1
/Game/Game/obj
/.vs
/Game/bin/Debug/Game.zip
